@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-inset {
  box-shadow: 0 0 0 0 #020617 inset;
}

.title-shadow:hover {
  text-shadow: 0px 0px 2px #fca5a5;
  transform: scale(1.01, 1.01);
  transition: all 0.5s;
}

.slide_mask {
  -webkit-mask: linear-gradient(90deg, #0000, #000 5% 93%, #0000);
}

.slide_shadow {
  text-shadow: 0px 0px 3px #475569;
}

.open_slide {
  animation: growimage 0.25s ease-in forwards;
}

.close_slide {
  animation: shrinkimage 0.4s ease-out forwards;
}

@keyframes growimage {
  0% {
    height: 50vh;
    opacity: 0.3;
  }

  100% {
    height: 80vh;
    opacity: 1;
  }
}

@keyframes shrinkimage {
  0% {
    height: 90vh;
    opacity: 1;
  }
  100% {
    height: 30vh;
    opacity: 0.1;
  }
}
